rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function incomingDataHasOnly(field) {
      return request.resource.data.diff(resource.data).affectedKeys().hasOnly([field])
    }

    function onlyAddsOneElement(listField, value) {
      return request.resource.data[listField].hasOnly(resource.data[listField].concat([value]))
    }

    function onlyRemovesOneElement(listField, value) {
      return request.resource.data[listField].hasOnly(resource.data[listField].removeAll([value]))
    }

    function isLoggedIn() {
      return request.auth != null;
    }

    match /datasets/{dataset} {
      function isDatasetOwner() {
        return isLoggedIn() && request.auth.uid == resource.data.author
      }

      allow read;
      allow update: if isDatasetOwner()
                        && (!("author" in request.resource.data) || request.resource.data.author == request.auth.uid)
                        && request.resource.data.updated_at == request.time
                        && (!("created_at" in request.resource.data) || request.resource.data.created_at == resource.data.created_at)
                        || (isLoggedIn() && !isDatasetOwner() && incomingDataHasOnly('upvotes') && (
                            onlyAddsOneElement('upvotes', request.auth.uid)
                            || onlyRemovesOneElement('upvotes', request.auth.uid)
                        ));
      allow delete: if isDatasetOwner();
      allow create: if isLoggedIn()
                        && request.resource.data.author == request.auth.uid
                        && request.resource.data.created_at == request.time
                        && request.resource.data.updated_at == request.time;
    }

    match /models/{model} {
      function isModelOwner() {
        return isLoggedIn() && request.auth.uid == resource.data.author
      }

      allow read;
      allow update: if isModelOwner()
                        && (!("author" in request.resource.data) || request.resource.data.author == request.auth.uid)
                        && request.resource.data.updated_at == request.time
                        && (!("created_at" in request.resource.data) || request.resource.data.created_at == resource.data.created_at)
                        || (isLoggedIn() && !isModelOwner() && incomingDataHasOnly('upvotes') && (
                           onlyAddsOneElement('upvotes', request.auth.uid)
                           || onlyRemovesOneElement('upvotes', request.auth.uid)
                        ));
      allow delete: if isModelOwner();
      allow create: if isLoggedIn()
                        && request.resource.data.author == request.auth.uid
                        && request.resource.data.created_at == request.time
                        && request.resource.data.updated_at == request.time;
    }

    match /users/{user} {
      allow read;
      allow write: if isLoggedIn() && request.auth.uid == user;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}

service firebase.storage {
  match /b/{bucket}/o {
    match /{userId}/profilePicture/{fileName} {
      allow read;
      allow write: if request.auth.uid == userId
                   && request.resource.contentType.matches('image/.+');
    }
  }
}